<%= render :partial => "user_bar" %>
<p>
  <%= link_to("Back to forums list", forums_path)%>
</p>
<h1>forum : <%= @forum.name %></h1>
<p style="color:#ccc">
  description: <%= @forum.description %>
</p>

<p>
  Posts in this Forum(
  <%= user_signed_in_show_create_post(@forum.id) %>
  <%# link_to("new post", new_forum_post_path(@forum)) %>
  )
</p>

<% @posts.each do |post| %>
  <p>
    <%= "#{@forum.name}>>" %>
    <%= link_to(post.title, forum_post_path(@forum, post)) %>
    <%= "by:#{post.user.login}" %>
    <%= user_can_edit_own_post(post.user_id, @forum, post) %>
    <%= user_can_delete_own_post(post.user_id, @forum, post) %>
  </p>
<% end %>
<%= will_paginate(@posts) %>
<p><%= page_entries_info(@posts) %></p>