<p>
  forum name: <%= @forum.name %>
</p>
<p>
  description: <%= @forum.description %>
</p>
<p>
  <%= link_to("back to forums list", forums_path)%>
</p>
<p>
  Posts in this Forum(
  <%= link_to("new post", new_forum_post_path(@forum)) %>
  )
</p>
<ul>
<% @posts.each do |post| %>
  <li>
    <%= "Forum:#{post.forum_id},Title:#{post.title}, Author:#{post.author}" %>
    <%= link_to("show", forum_post_path(@forum, post)) %>
    <%= link_to("edit", edit_forum_post_path(@forum, post))%>
    <%= link_to("delete", forum_post_path(@forum, post), :method => :delete, :confirm => "are you sure?")%>
  </li>
<% end %>
</ul>