<p>Edit a Post</p>
<% form_for @post, :url=> { :controller => "posts", :action => "update", :id => @post } do |f| %>
  <%= f.label :forum_id, "Forum_id" %>
  <%= f.text_field :forum_id %><br />
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>  <br />
  <%= f.label :author, "Author" %>
  <%= f.text_field :author %><br />
  <%= f.label :content, "Content" %>
  <%= f.text_area :content %><br />
  
  <%= f.submit "Update"%>
<% end %>