<%= render :partial => "forums/user_bar" %>
<p>Forum:
<%= link_to(@forum.name, forum_path(@forum.id)) %></p>
<h1><%= "#{@post.title}" %></h1>
<p>
  <%= user_can_edit_own_post(@post.user_id, @forum, @post) %>
  <%= user_can_delete_own_post(@post.user_id, @forum, @post) %></p>
<p><%= "Author: #{@post.user.login}" %></p>
<p>Content:<br />
<%= @post.content %></p>
